#ignorare i file di xcode
sistemiOperativi.xcodeproj

#ignorare i file di CLion
CMakeLists.txt
cmake-build-debug
.idea

#ignorare i file autogenerati da macOS
.DS_Store

#ignorare i file delle cartelle temp/ e log/
log/
temp/
bin/

#ignorare il file test.c perchè serve solo a fare test veloci
src/test.c
src/test2.c
test-config.txt
