#ignorare i file di xcode
sistemiOperativi.xcodeproj

#ignorare i file di CLion
CMakeLists.txt
cmake-build-debug
.idea

#ignorare i file autogenerati da macOS
.DS_Store

#ignorare i file delle cartelle log, temp e bin
log/
temp/
bin/
